@{
    ViewData["Title"] = "About me";
}
<h1>@ViewData["Title"]</h1>

<div>
    My name is Olga and I am 37 years old. 
    <br/>I had experience as a company website maintenance and support, managing new articles and updating the website.
    <br />Looking to start a new career in Sweden in a junior Web Developer.
    <br />Open for entry level or intermediate positions.
    <br />More informatin about me, please follow this link:
    <a href="https://linkedin.com/in/olga-teterleva">Linkedin</a>
    
</div>
