@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My first Web App</h1>
    <p>I would like to tell you about myself and show you what can I build now.
       Pleace follow the link About, Contact, Projects</p>
</div>
