@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Projects";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>
        <a href="https://github.com/olgaTete/CSS-Layout">CSS-Layout</a>
        - Using CSS create a web design according to the task.
    </li>
    <li>
        <a href="https://github.com/olgaTete/Calculator-">Calculator</a>
        - Using C# create a basic Console-based calculator according to the task.
    </li>
    <li><a href="https://github.com/olgaTete/Hangman-Game">Hangman-Game</a>
        - Using C# create a Console game according to the task.
    </li>
    <li>
        <a href="https://github.com/olgaTete/Test-calculator">Test-calculator</a>
        - Using C# OOP,classes,methods to refactor(change) the code of a basic Console-based calculator according to the task.
    </li>
    <li>
        <a href="https://github.com/LexiconGroup2/VendingMachine">VendingMachine</a>
        - Worked with group to using C# OOP and inheritance,polymorphism, interfaces, abstract classes to construct a vending machine according to the task.
    </li>
</ul>